<div class="text-nav" id="text-nav">
  <main class="frame" id="text-nav-frame">
    <p class="text" id="shade-text">
      <span class="sentence">
        A sombra é acessível?
      </span>

      <span class="sentence" data-key="relogio">
        Como a
        <button class="highlight" type="button" data-key="relogio">incidência solar</button>
        desenha uma cidade?
      </span>

      <span class="sentence" data-key="onibus">
        <button class="highlight" type="button" data-key="onibus">Quem</button>
        precisa de sombra?
      </span>

      <span class="sentence" data-key="exposicao">
        Encontre maneiras de evitar <button class="highlight" type="button" data-key="exposicao">insolação</button>.
      </span>

      <span class="sentence" data-key="fortaleza">
        <button class="highlight" type="button" data-key="fortaleza">Fortaleza</button>,
        devido à sua geolocalização, é banhada pelo sol durante todo o ano.
      </span>

      <span class="sentence" data-key="mapas">
        Como
        <button class="highlight" type="button" data-key="mapas">navegar</button>
        pela sombra?
      </span>

      <span class="sentence" data-key="game">
        Como planejar uma
        <button class="highlight" type="button" data-key="game">cidade ecológica</button>?
      </span>

      <span class="sentence" data-key="sobre">
        A sombra como
        <button class="highlight" type="button" data-key="sobre">tecnologia</button>
        <button class="highlight" type="button" data-key="sobre">e cosmologia</button>
        do calor.
      </span>

      <span class="sentence" data-key="processo">
        Um
        <button class="highlight" type="button" data-key="processo">trajeto</button>
        solar.
      </span>
    </p>
  </main>
</div>
